* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Belanosima', sans-serif;
  font-weight: normal; /* Aqui é pra tirar o negrito da fonte*/
                                                
                                                
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(255, 235, 237) 0%, rgba(166, 201, 182, 0.5) 100%);
}

